@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=VT323&display=swap');

:root {
    --color-primary1: #08080C;
    --color-primary2: #111117;
    --color-primary3: #292932;
    --color-secondary1: #FFFFFF;
    --color-secondary2: #E2E2E9;
    --color-secondary3: #B9B9C6;
    --color-enphasis1: #5452E0;
    --color-enphasis2: #4442D7;
    --color-enphasis3: #2926D8;
    --color-enphasis4: #1F1DC9;
    --color-enphasis5: #1714B8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Rubik;
}

body {
    background-color: var(--color-primary2);
}

/* Drying the flex */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.mainCenter {
    justify-content: center;
}

.crossCenter {
    align-items: center;
}

.mainSpaceBetween {
    justify-content: space-between;
}

/* Navbar */

.navbar {
    width: 100%;
    padding: 2rem 4rem;
    background: var(--color-primary2);
    box-shadow: 0px 20px 40px rgba(8, 8, 12, 0.25);
}

.themeButton {
    cursor: pointer;
    transition: 0.2s;
}

.themeButton:hover {
    transform: scale(1.1);
}

/* Search */

.searchContainer {
    background: url('../img/background.svg') center;
    padding: 2rem 0;
}

.searchContainer > img {
    margin-top: 2rem;
    width: 19.375rem;
}

.searchContainer .searchBar {
    border: 2px solid #FFFFFF;
    padding: 0 2rem 0 2rem;
    margin: 2rem 0;
    border-radius: 1.25rem;
    width: 40rem;
}

.searchBar .search {
    background: none;
    border: none;
    height: 4rem;
    color: #FFFFFF;
    border-radius: 1.25rem;
    width: 100%;
    font-size: .875rem;
}

.searchBar:hover{
    box-shadow: 0px 0px 0px 4px var(--color-enphasis1);
}

.search::placeholder {
    color: #FFFFFF;
}

.searchBar .searchButton {
    display: block;
    width: 1.5rem;
    transition: 0.2s;
    cursor: pointer;
}

.searchButton:hover {
    transform: scale(1.1);
}

.focused {
    transition: 0.2s;
    box-shadow: 0px 0px 0px 4px var(--color-enphasis1);
}

/* Dev preview */
.container {
    width: 100%;
    padding: 4rem 8rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .dev {
    max-width: 15rem;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid var(--color-primary3);
    border-radius: 1.25rem;
    opacity: .5;
    transform: scale(1.1);
    animation: animate .4s forwards;
}

.dev img {
    width: 12.75rem;
    height: 12.75rem;
    border-radius: .625rem;
    background: url('../img/best-pic.jpg') center;
    background-size: cover;
    margin-bottom: 1rem;
}

.dev h2, .dev p {
    font-weight: 400;
}

.dev h2 {
    color: var(--color-secondary1);
    font-size: 1.125rem;
    margin-bottom: .5rem;
}

.dev p {
    color: var(--color-secondary3);
    font-size: .875rem;
    margin-bottom: 1rem;
}

.dev button {
    border: 0;
    padding: 1rem 0;
    width: 100%;
    background: var(--color-enphasis3);
    color: #FFFFFF;
    border: 2px solid var(--color-enphasis5);
    border-radius: .625rem;
    box-shadow: 0px 5px 10px rgba(41, 38, 216, 0.15);
    font-family: VT323;
    font-size: 1.125rem;
    cursor: pointer;
    transition: 0.2s;
}

.dev button:hover {
    background: var(--color-enphasis4);
}

.notFound {
    font-size: 1.5rem;
    color: var(--color-primary3);
    transform: scale(1.1);
    opacity: .5rem;
    animation: animate .4s forwards;
    user-select: none;
}

@keyframes animate {
    to{
        opacity: initial;
        transform: initial;
    }
}